---
---

@import 'breakpoints';

// Vars for Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;

// Importing Utils
@import 'utils';

// Vars for Typography
$sans-serif: "San Francisco", sans-serif;
$serif: serif;
$display: neusa-next-std-wide, sans-serif;
$text: $sans-serif;

// Vars for Colors
$blue: #0e4365;
$orange: #ff8b0e;
$pink: #d50052;
$cyan: #00dbff;
$green: #2b7c89;


$main-color: #333;
$accent-color: $orange;

@import 'base';
@import 'main';
@import 'button';
@import 'form';
@import 'columns';
@import 'header';

@import 'custom';
@import 'dev';
